body
{
  color: rgb(213, 214, 253);
  background: #4038ad;
}
.heading{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
  color: rgb(88, 223, 216);
  background-color: rgb(181, 252, 248); ;
}
span
{
  font-size: 30px;
}
#camera1 , #outputt
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}
#result_emotion_name
{
  color: wheat;
}
.emotionz_name
{
  font-size: 40px;
}
.emojis
{
  font-size:48px;
}
